# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of commonly Used libraries
- Arithmetic Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Tensor Flow
5. GGplot2

| Data Science Tools |
|:------------------:|
| RStudio |
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
time = int(input())
hours = float(time)/60.0
print(hours)

 200

3.3333333333333335

## Author 
Mahfuzur Rahman Sadi